[Desktop Entry]
Type=Application
Name=Keys Manager
Comment=Déchiffre les clés SSH et WireGuard au démarrage
Exec=gnome-terminal -- bash /chemin/vers/keys-manager.sh
Hidden=false
X-GNOME-Autostart-enabled=true
Terminal=false
